<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.cms.mapper.CategoryMapper">

    <select id="getByMajorIdAndGrade" resultType="com.cqjtu.cms.model.dto.output.CategoryDto">
        SELECT c.id      category_id,
               c.`name`  category_name,
               c.major_id,
               m.college_id,
               m.`name`  major_name,
               co.`name` college_name,
               grade
        FROM category c,
             major m,
             college co
        WHERE co.id = m.college_id
          AND c.major_id = m.id
          AND c.major_id = #{param1}
          AND grade = #{param2}
    </select>
</mapper>
